<div class="col-12 col-md-12 ottom section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="copyright">
                    <p>© <span>2022</span> <a href="#" class="transition"></a> All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
