<nav class="col-12 col-md-12 text-center">
    <div class="row">
        <div class="col-12 col-md-2">
            <img src="images/logo1.jpg" alt="" width="150" >
        </div>
        <div class="col-12 col-md-8">
            <div class="col-12 text-uppercase m-4">
                <h3 class="pt-3" style="color: #8c67b9;">Cổng thông tin tra cứu du lịch Việt Nam</h3>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <img src="images/logo2.jpg" alt="" width="150" >
        </div>
    </div>

</nav>
